<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85F4AB0B1CAD359000A83809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F4AB241CAD359000A83809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F4AB2F1CAD359000A83809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
